common --experimental_downloader_config=bazel/bazel_downloader.cfg
fetch:downloader --experimental_remote_downloader=grpc://com.taobao.search.bazel.server:9092 --remote_cache=grpc://com.taobao.search.bazel.server:9092


build --python_top=//:python310 --incompatible_use_python_toolchains=false # force use /opt/conda310/bin/python3

build --spawn_strategy=local # avoid nvcc conflicts
build --action_env PYTHON_BIN_PATH="/opt/conda310/bin/python3"
build --cxxopt="-std=c++17" --copt="-DGTEST_USE_OWN_TR1_TUPLE=0" --copt="-DEIGEN_MAX_CPP_VER=11"
build -c opt
build --copt -O2
build --copt -g --strip=never
build --copt -Wall
build --copt -Werror
build --copt -Wno-unknown-pragmas # omp
build --copt -Wno-sign-compare # alog
build --copt -Wno-attributes # pybind11
build --copt -Wno-stringop-truncation # grpc
build --copt -Wno-stringop-overflow # grpc
build --copt -Wno-maybe-uninitialized # protobuf
build --copt -Wno-format-overflow # cm2
build --cxxopt -Wno-class-memaccess # grpc
build --copt -Wno-deprecated-declarations
build --experimental_cc_implementation_deps
build --copt -DOPENSSL_IS_BORINGSSL
build --experimental_cc_shared_library
build --linkopt="-lm"
build --action_env LIBRARY_PATH="/lib64:/opt/conda310/lib/"
build --host_action_env LIBRARY_PATH="/lib64:/opt/conda310/lib/"
build --define=grpc_no_ares=true
build --define=xft_use_icx=true
build --define=frontend=false
build --linkopt -ldl # exception backtrace
build --define=NVSHMEM_DIR=/

build:cuda --copt="-DENABLE_BF16=1"
build:cuda --copt="-DBUILD_CUTLASS_MIXED_GEMM=ON"
build:cuda --copt="-DC10_CUDA_NO_CMAKE_CONFIGURE_FILE"
build:cuda --copt="-DUSING_CUDA=1"
build:cuda --define=using_cuda=true --define=using_cuda_nvcc=true
build:cuda --crosstool_top=@local_config_cuda//crosstool:toolchain
build:cuda --action_env CUDA_TOOLKIT_PATH="/usr/local/cuda/"
build:cuda --host_action_env CUDA_TOOLKIT_PATH="/usr/local/cuda/"
build:cuda --action_env TF_CUDA_PATHS="/usr/local/cuda/"
build:cuda --host_action_env TF_CUDA_PATHS="/usr/local/cuda/"
build:cuda --action_env TF_CUDA_CLANG="0"
build:cuda --host_action_env TF_CUDA_CLANG="0"
build:cuda --action_env TF_NEED_CUDA="1"
build:cuda --host_action_env TF_NEED_CUDA="1"
build:cuda --action_env LD_LIBRARY_PATH="/lib64:/opt/conda310/lib/:/usr/local/cuda/compat/:/usr/local/nvidia/lib64:/usr/lib64:/usr/local/cuda/lib64:/usr/local/cuda/lib64/stubs/:/usr/local/cuda/extras/CUPTI/lib64/:$LD_LIBRARY_PATH"
build:cuda --host_action_env LD_LIBRARY_PATH="/lib64:/opt/conda310/lib/:/usr/local/cuda/compat/:/usr/local/nvidia/lib64:/usr/lib64:/usr/local/cuda/lib64:/usr/local/cuda/lib64/stubs/:/usr/local/cuda/extras/CUPTI/lib64/:$LD_LIBRARY_PATH"
build:cuda --linkopt="-L/usr/local/cuda/lib64/stubs/"
build:cuda --action_env NCCL_INSTALL_PATH="/usr/local/cuda/"
build:cuda --action_env NCCL_HDR_PATH="/usr/local/cuda/include"
build:cuda --action_env TF_NCCL_VERSION="2"
build:cuda --action_env CUDNN_INSTALL_PATH="/usr/local/cuda/"

# 6.0 = P100, 7.0 = V100, 7.5 = T4, 8.6 = A10, 8.0 = A100 8.9 = L, 9.0 = H800
build:cuda12 --config=cuda
build:cuda12 --action_env TF_CUDA_COMPUTE_CAPABILITIES="7.0,7.5,8.0,8.6,8.9,9.0"
build:cuda12 --host_action_env TF_CUDA_COMPUTE_CAPABILITIES="7.0,7.5,8.0,8.6,8.9,9.0"
build:sm7x --action_env TF_CUDA_COMPUTE_CAPABILITIES="7.0,7.5"
build:sm7x --action_env  TF_CUDA_COMPUTE_CAPABILITIES="7.0,7.5"
build:sm8x --action_env TF_CUDA_COMPUTE_CAPABILITIES="8.0,8.6,8.9"
build:sm8x --action_env  TF_CUDA_COMPUTE_CAPABILITIES="8.0,8.6,8.9"
build:sm9x --action_env TF_CUDA_COMPUTE_CAPABILITIES="9.0"
build:sm9x --action_env  TF_CUDA_COMPUTE_CAPABILITIES="9.0"
build:cuda12 --action_env TF_CUDA_VERSION="12.4"
build:cuda12 --host_action_env TF_CUDA_VERSION="12.4"
build:cuda12 --define=using_cuda12=true
build:cuda12 --define=using_cuda12_9_x86=false
build:cuda12 --define=using_cuda12_x86=true
build:cuda12 --define=using_cuda12_arm=false
build:cuda12 --copt="-DUSING_CUDA12=1"
build:cuda12 --copt="-DUSE_OLD_TRT_FMHA=1"
build:cuda12 --copt="-DFMHA_SUPPORT_SPLIT=1"
build:cuda12 --copt="-DENABLE_FP8=1"
build:cuda12 --jobs=64
build:cuda12 --config=3fs

build:cuda12_2 --config=cuda12
build:cuda12_2 --action_env TF_CUDA_VERSION="12.2"
build:cuda12_2 --host_action_env TF_CUDA_VERSION="12.2"

build:cuda12_6 --config=cuda12
build:cuda12_6 --action_env TF_CUDA_VERSION="12.6"
build:cuda12_6 --host_action_env TF_CUDA_VERSION="12.6"
build:cuda12_6 --copt="-D_GLIBCXX_USE_CXX11_ABI=1"

build:cuda12_9 --config=cuda12
build:cuda12_9 --define=using_cuda12_9_x86=true
build:cuda12_9 --copt="-DUSING_CUDA12_9=1"
build:cuda12_9 --action_env TF_CUDA_VERSION="12.9"
build:cuda12_9 --host_action_env TF_CUDA_VERSION="12.9"
build:cuda12_9 --copt="-D_GLIBCXX_USE_CXX11_ABI=1"
build:cuda12_9 --copt="-DENABLE_FP4=1"

build:sm10x --config=cuda12_9
build:sm10x --action_env  TF_CUDA_COMPUTE_CAPABILITIES="10.0"

build:cuda12_9_arm --config=cuda12_9
build:cuda12_9_arm --config=sm10x
build:cuda12_9_arm --copt=-Wno-tautological-compare
build:cuda12_9_arm --copt=-Wno-array-bounds
build:cuda12_9_arm --copt=-Wno-unused-result
build:cuda12_9_arm --copt=-Wno-array-parameter
build:cuda12_9_arm --copt=-Wno-narrowing
build:cuda12_9_arm --define=using_cuda12_arm=true
build:cuda12_9_arm --define=using_cuda12_9_x86=false
build:cuda12_9_arm --action_env TF_CUDA_COMPUTE_CAPABILITIES="10.0"
build:cuda12_9_arm --host_action_env TF_CUDA_COMPUTE_CAPABILITIES="10.0"
build:cuda12_9_arm --copt -DUSE_CUDA_ARM=0
build:cuda12_9_arm --define=use_3fs=false

build:cpu --copt="-DENABLE_BF16=1"
build:cpu --define=using_cuda=false --define=using_cuda_nvcc=false --define=using_cpu=true
build:cpu --action_env TF_NEED_CUDA="0"
build:cpu --host_action_env TF_NEED_CUDA="0"
build:cpu --crosstool_top=@bazel_tools//tools/cpp:toolchain
build:cpu --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:cpu --copt="-DUSING_CUDA=0"
build:cpu --copt="-D_GLIBCXX_USE_CXX11_ABI=0"

# NOTE: intel xfastertransformer package has two version,
# icx version is for 1-3 gen intel xeon cpu, non-icl version is for 4th gen and later.
build:cpu_latest --define=xft_use_icx=false

build:rocm --copt="-DENABLE_BF16=1"
build:rocm --action_env TF_NEED_CUDA="0"
build:rocm --host_action_env TF_NEED_CUDA="0"
build:rocm --crosstool_top=@local_config_rocm//crosstool:toolchain
build:rocm --host_crosstool_top=@local_config_rocm//crosstool:toolchain
build:rocm --define=using_cuda=false --define=using_cuda_nvcc=false
build:rocm --define=using_rocm=true --define=using_rocm_hipcc=true
build:rocm --action_env TF_NEED_ROCM=1
build:rocm --action_env GPU_ARCHS=gfx942
build:rocm --copt="-DUSING_CUDA=0"
build:rocm --copt="-DUSING_ROCM=1"
build:rocm --copt="-DUSING_CK_INT4=1"
build:rocm --copt="-D__HIP_PLATFORM_AMD__=1"
build:rocm --copt="-DLEGACY_HIPBLAS_DIRECT"
build:rocm --repo_env CK_FMHA_GEN_ARGS="--receipt 2"
build:rocm --repo_env CK_LYNM_GEN_ARGS="--receipt 2"
build:rocm --copt -Wno-tautological-compare # grpc
build:rocm --copt="-Wno-array-parameter"
build:rocm --copt="-Wno-error=array-bounds"
build:rocm --copt="-Wno-error=unused-result"
build:rocm --copt="-Wno-deprecated-builtins"  # absl uses deprecated __has_trivial_assign
build:rocm --copt="-D_GLIBCXX_USE_CXX11_ABI=1"
#build:rocm --action_env ROCM_HIPBLASLT_CONFIG="/ali/rtp-llm/gemm_config_bert61.csv" # blasLt config
#build:rocm --action_env ROCM_DISABLE_HIPBLASLT=1 # to use blas only
#build:rocm --action_env HIPBLASLT_LOG_MASK="32" # to log blasLt
#build:rocm --action_env ROCBLAS_LAYER="4"
#build:rocm --copt="-DENABLE_PROF=1"
build:rocm --action_env LD_LIBRARY_PATH="/opt/rh/gcc-toolset-12/root/usr/lib64:/lib64:/opt/conda310/lib/:/opt/rocm/lib/:/opt/taobao/java/jre/lib/amd64/server/:/opt/amdgpu/lib64/:$LD_LIBRARY_PATH"
build:rocm --host_action_env LD_LIBRARY_PATH="/opt/rocm/lib/:/opt/taobao/java/jre/lib/amd64/server/:/opt/amdgpu/lib64/:$LD_LIBRARY_PATH"
build:rocm --copt="-DUSE_ROCM=1"
build:rocm --copt="-DFORCE_NVSHMEM_API=1"
build:aiter_src --define=using_aiter_src=true
test:rocm --test_env="/opt/rocm/lib/:/opt/taobao/java/jre/lib/amd64/server/:/opt/amdgpu/lib64/:$LD_LIBRARY_PATH"

build:arm --copt="-DENABLE_BF16=1"
build:arm --define=using_cuda=false --define=using_cuda_nvcc=false
build:arm --define=using_arm=true
build:arm --copt="-DBUILDING_ARM_ONLY=1"
build:arm --action_env TF_NEED_CUDA="0"
build:arm --host_action_env TF_NEED_CUDA="0"
build:arm --crosstool_top=@bazel_tools//tools/cpp:toolchain
build:arm --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:arm --copt="-DUSING_CUDA=0"
build:arm --copt="-D_GLIBCXX_USE_CXX11_ABI=0"
build:arm --define=xft_use_icx=false
build:arm --copt=-Wno-tautological-compare
build:arm --copt=-Wno-array-bounds # aios
build:arm --copt=-Wno-unused-result # grpc
build:arm --copt=-Wno-array-parameter # boringssl

# 3fs
build:3fs --define=use_3fs=true

build:debug --copt -g --copt -O0 --copt -U_FORTIFY_SOURCE --copt -DEXCLUDE_SM_100=1 --copt -DEXCLUDE_SM_120=1
build:trace --copt="-DCUTLASS_DEBUG_TRACE_LEVEL=1"

build:cicd --remote_upload_local_results
build:cicd --worker_verbose
build:cicd --show_result=0 --auto_output_filter=all
test:cicd --test_output=errors --max_test_output_bytes=10240000 --experimental_ui_max_stdouterr_bytes=31457280

# asan
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -DFL_ASAN_ENABLED
build:asan --copt -fno-omit-frame-pointer
build:asan --copt -fPIC # for "fix relocation truncated to fit: R_X86_64_32 against `.debug_info'" collect2 error
build:asan --copt -fdebug-types-section # for "fix relocation truncated to fit: R_X86_64_32 against `.debug_info'" collect2 error
build:asan --linkopt -fsanitize=address

test:rocm --test_env PATH="/opt/rocm/bin:/opt/rh/gcc-toolset-12/root/usr/bin:/opt/conda310/bin:/opt/conda310/condabin:/usr/share/Modules/bin:/sbin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/usr/X11R6/bin:/opt/cmake/cmake-3.26.4/bin:$PATH"
test:rocm --test_env LD_LIBRARY_PATH="/opt/rh/gcc-toolset-12/root/usr/lib64:/opt/rocm/lib:/opt/conda310/lib/:/usr/lib64:/opt/amdgpu/lib64:$LD_LIBRARY_PATH"
test --test_env LD_LIBRARY_PATH="/opt/rocm/lib:/opt/conda310/lib/:/usr/local/nvidia/lib64:/usr/lib64:/usr/local/cuda/lib64:/opt/amdgpu/lib64:/usr/local/cuda/extras/CUPTI/lib64:$LD_LIBRARY_PATH"
test --test_env OMP_NUM_THREADS=8
test --test_env FT_SERVER_TEST="1"
test --test_env LOG_LEVEL="INFO"
test --test_env NCCL_DEBUG="INFO"
# for dp scatter add stable result
test --test_env TZ=Asia/Shanghai

# compat for low driver < 535
test:compat --test_env LD_LIBRARY_PATH="/opt/rocm/lib:/opt/conda310/lib/:/usr/local/cuda/compat/:/usr/local/nvidia/lib64:/usr/lib64:/usr/local/cuda/lib64:/opt/amdgpu/lib64:/usr/local/cuda/extras/CUPTI/lib64:/usr/local/cuda/lib64/stubs"

# only use for internal source
try-import %workspace%/stub_source/.internal_bazelrc
# always use for aone ci
try-import %workspace%/internal_source/.cicd_bazelrc
