build --python_top=//:python310 --incompatible_use_python_toolchains=false # force use /opt/conda310/bin/python3

build --spawn_strategy=local # avoid nvcc conflicts
build --action_env PYTHON_BIN_PATH="/opt/conda310/bin/python3"
build --cxxopt="-std=c++17" --copt="-DGTEST_USE_OWN_TR1_TUPLE=0" --copt="-DEIGEN_MAX_CPP_VER=11" --copt="-D_GLIBCXX_USE_CXX11_ABI=0"
build -c opt
build --copt -O2
build --copt -g --strip=never
build --copt -Wall
build --copt -Werror
build --copt -Wno-unknown-pragmas # omp
build --copt -Wno-sign-compare # alog
build --copt -Wno-attributes # pybind11
build --copt -Wno-stringop-truncation # grpc
build --copt -Wno-stringop-overflow # grpc
build --copt -Wno-maybe-uninitialized # protobuf
build --cxxopt -Wno-class-memaccess # grpc
build --copt -Wno-deprecated-declarations
build --experimental_cc_implementation_deps
build --deleted_packages @havenask//aios/kmonitor
build --copt -DOPENSSL_IS_BORINGSSL
build --experimental_cc_shared_library
build --linkopt="-lm"
build --action_env LIBRARY_PATH=/opt/conda310/lib
build --define=grpc_no_ares=true
build --define=xft_use_icx=true

build:cuda --copt="-DENABLE_BF16=1"
build:cuda --copt="-DBUILD_CUTLASS_MIXED_GEMM=ON"
build:cuda --copt="-DC10_CUDA_NO_CMAKE_CONFIGURE_FILE"
build:cuda --copt="-DUSE_NVTX=ON"
build:cuda --copt="-DUSING_CUDA=1"
build:cuda --define=using_cuda=true --define=using_cuda11=true --define=using_cuda_nvcc=true
build:cuda --crosstool_top=@local_config_cuda//crosstool:toolchain
build:cuda --action_env CUDA_TOOLKIT_PATH="/usr/local/cuda/"
build:cuda --host_action_env CUDA_TOOLKIT_PATH="/usr/local/cuda/"
build:cuda --action_env TF_CUDA_VERSION="11.4" # 11.8 12.1
build:cuda --host_action_env TF_CUDA_VERSION="11.4" # 11.8 12.1
build:cuda --action_env TF_CUDA_PATHS="/usr/local/cuda/"
build:cuda --host_action_env TF_CUDA_PATHS="/usr/local/cuda/"
build:cuda --action_env TF_CUDA_CLANG="0"
build:cuda --host_action_env TF_CUDA_CLANG="0"
build:cuda --action_env TF_NEED_CUDA="1"
build:cuda --host_action_env TF_NEED_CUDA="1"
# 6.0 = P100, 7.0 = V100, 7.5 = T4, 8.6 = A10, 8.0 = A100
build:cuda --action_env TF_CUDA_COMPUTE_CAPABILITIES="7.0,7.5,8.0,8.6"
build:cuda --host_action_env TF_CUDA_COMPUTE_CAPABILITIES="7.0,7.5,8.0,8.6"
build:cuda --action_env LD_LIBRARY_PATH="/lib64:/opt/conda310/lib/:/usr/local/cuda/lib64:/usr/local/cuda/lib64/stubs/:$LD_LIBRARY_PATH
build:cuda --host_action_env LD_LIBRARY_PATH="/lib64:/opt/conda310/lib/:/usr/local/cuda/lib64:/usr/local/cuda/lib64/stubs/:$LD_LIBRARY_PATH
build:cuda --linkopt="-L/usr/local/cuda/lib64/stubs/"
build:cuda --action_env NCCL_INSTALL_PATH="/usr/local/cuda/"
build:cuda --action_env NCCL_HDR_PATH="/usr/local/cuda/include"
build:cuda --action_env TF_NCCL_VERSION="2"
build:cuda --action_env CUDNN_INSTALL_PATH="/usr/local/cuda/"
build:cuda --action_env TF_CUDNN_VERSION="8"


# 8.9 = L, 9.0 = H800
build:cuda12 --config=cuda
build:cuda12 --action_env TF_CUDA_COMPUTE_CAPABILITIES="7.0,7.5,8.0,8.6,8.9,9.0"
build:cuda12 --host_action_env TF_CUDA_COMPUTE_CAPABILITIES="7.0,7.5,8.0,8.6,8.9,9.0"
build:cuda12 --action_env TF_CUDA_VERSION="12.4"
build:cuda12 --host_action_env TF_CUDA_VERSION="12.4"
build:cuda12 --define=using_cuda11=false
build:cuda12 --define=using_cuda12=true
build:cuda12 --copt="-DUSING_CUDA12=1"
build:cuda12 --copt="-DUSE_OLD_TRT_FMHA=1"
build:cuda12 --copt="-DFMHA_SUPPORT_SPLIT=1"

build:cuda12_2 --config=cuda
build:cuda12_2 --action_env TF_CUDA_COMPUTE_CAPABILITIES="7.0,7.5,8.0,8.6,8.9,9.0"
build:cuda12_2 --host_action_env TF_CUDA_COMPUTE_CAPABILITIES="7.0,7.5,8.0,8.6,8.9,9.0"
build:cuda12_2 --action_env TF_CUDA_VERSION="12.2"
build:cuda12_2 --host_action_env TF_CUDA_VERSION="12.2"
build:cuda12_2 --define=using_cuda11=false
build:cuda12_2 --define=using_cuda12=true
build:cuda12_2 --copt="-DUSING_CUDA12=1"
build:cuda12_2 --copt="-DUSE_OLD_TRT_FMHA=1"
build:cuda12_2 --copt="-DFMHA_SUPPORT_SPLIT=1"

build:cpu --copt="-DENABLE_BF16=1"
build:cpu --define=using_cuda=false --define=using_cuda_nvcc=false
build:cpu --action_env TF_NEED_CUDA="0"
build:cpu --host_action_env TF_NEED_CUDA="0"
build:cpu --crosstool_top=@bazel_tools//tools/cpp:toolchain
build:cpu --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:cpu --linkopt -ldl
build:cpu --copt="-DUSING_CUDA=0"

# NOTE: intel xfastertransformer package has two version,
# icx version is for 1-3 gen intel xeon cpu, non-icl version is for 4th gen and later.
build:cpu_latest --define=xft_use_icx=false

build:rocm --copt="-DENABLE_BF16=1"
build:rocm --action_env TF_NEED_CUDA="0"
build:rocm --host_action_env TF_NEED_CUDA="0"
build:rocm --crosstool_top=@local_config_rocm//crosstool:toolchain
build:rocm --host_crosstool_top=@local_config_rocm//crosstool:toolchain
build:rocm --define=using_cuda=false --define=using_cuda_nvcc=false
build:rocm --define=using_rocm=true --define=using_rocm_hipcc=true
build:rocm --action_env TF_NEED_ROCM=1
build:rocm --copt="-DUSING_CUDA=0"
build:rocm --copt="-DUSING_ROCM=1"
build:rocm --copt="-D__HIP_PLATFORM_AMD__=1"
build:rocm --repo_env CK_FMHA_GEN_ARGS="--receipt 2"
build:rocm --copt -Wno-tautological-compare # grpc
build:rocm --action_env LD_LIBRARY_PATH="/lib64:/opt/conda310/lib/:$LD_LIBRARY_PATH

build:arm --copt="-DENABLE_BF16=1"
build:arm --define=using_cuda=false --define=using_cuda_nvcc=false
build:arm --define=using_arm=true
build:arm --action_env TF_NEED_CUDA="0"
build:arm --host_action_env TF_NEED_CUDA="0"
build:arm --crosstool_top=@bazel_tools//tools/cpp:toolchain
build:arm --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:arm --linkopt -ldl
build:arm --copt="-DUSING_CUDA=0"
build:arm --define=xft_use_icx=false
build:arm --copt=-Wno-tautological-compare
build:arm --copt=-Wno-array-bounds # aios
build:arm --copt=-Wno-unused-result # grpc
build:arm --copt=-Wno-array-parameter # boringssl

build:debug --copt -g --copt -O0 --copt -U_FORTIFY_SOURCE
build:trace --copt="-DCUTLASS_DEBUG_TRACE_LEVEL=1"

build:cicd --remote_upload_local_results
build:cicd --worker_verbose
build:cicd --show_result=0 --noverbose_failures --auto_output_filter=all
test:cicd --test_output=errors --max_test_output_bytes=102400 --experimental_ui_max_stdouterr_bytes=3145728

# asan
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -DFL_ASAN_ENABLED
build:asan --copt -fno-omit-frame-pointer
build:asan --copt -fPIC # for "fix relocation truncated to fit: R_X86_64_32 against `.debug_info'" collect2 error
build:asan --copt -fdebug-types-section # for "fix relocation truncated to fit: R_X86_64_32 against `.debug_info'" collect2 error
build:asan --linkopt -fsanitize=address

test --test_env LD_LIBRARY_PATH="/opt/conda310/lib/:/usr/local/nvidia/lib64:/usr/lib64:/usr/local/cuda/lib64"
test --test_env OMP_NUM_THREADS=8
test --test_env FT_SERVER_TEST="1"
test --test_env PY_LOG_LEVEL="INFO"

# compat for low driver < 535
test:compat --test_env LD_LIBRARY_PATH="/opt/conda310/lib/:/usr/local/cuda/compat/:/usr/local/nvidia/lib64:/usr/lib64:/usr/local/cuda/lib64"

try-import %workspace%/internal_source/.internal_bazelrc
