*~
*.o
*build*/
__pycache__/
.vscode
.idea
./translation
.cache
*.npy
*.pth
!tests/data/**/*.npy
/notebooks
**/.ipynb_checkpoints/

/3rdparty/NeMo/
/3rdparty/apex/

bazel-*
bazel.log
bep.json*
*.profile.gz
generated-config.yml
.history
/compile_commands.json
/.vscode
*.iml
*vents.out.tfevents*
.idea
.DS_Store
__pycache__
target
*.pyc
*.rpm
rpm/*.log
*.whl
.clangd

logs/
*.log
deep_gemm_runtime/

package/requirements*.txt
package/rtp_llm*.whl
package/maga_start.sh

model_rpc_service_pb2.py
model_rpc_service_pb2_grpc.py

cuda_profiler*.json

core-*
