filelock
jinja2
sympy
typing-extensions
importlib_metadata
transformers==4.33.1
sentencepiece==0.1.99
fastapi==0.108.0
uvicorn==0.21.1
dacite
pynvml
thrift
numpy==1.24.1
psutil
tiktoken==0.4.0
lru-dict
py-spy
safetensors
cpm_kernels
pyodps
Pillow
protobuf==3.20.0
einops
pydantic>=2.5.3
