<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- https://github.com/spring-projects/spring-boot/blob/v1.5.13.RELEASE/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="APP_NAME" value="ai-whale" />
    <property name="LOG_PATH" value="${user.home}/${APP_NAME}/logs" />
    <property name="LOG_FILE" value="${LOG_PATH}/application.log" />
    <property name="PV_LOG_FILE" value="${LOG_PATH}/pv.log" />
    <property name="SYNC_LOG_FILE" value="${LOG_PATH}/sync.log" />
    <property name="SYNC_CONSISTENCY_LOG_FILE" value="${LOG_PATH}/sync_consistency.log" />
    <property name="BUSINESS_LOG_FILE" value="${LOG_PATH}/business.log" />

    <!-- 标准化日志格式 - 包含级别、线程、类名等关键信息 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="APPLICATION-async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="APPLICATION"/>
    </appender>

    <appender name="PV" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${PV_LOG_FILE}</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${PV_LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="PV-async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="PV"/>
    </appender>

    <appender name="sync" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${SYNC_LOG_FILE}</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${SYNC_LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>4GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="sync-async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="sync"/>
    </appender>

    <appender name="sync_consistency" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${SYNC_CONSISTENCY_LOG_FILE}</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${SYNC_CONSISTENCY_LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>4GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="sync_consistency-async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="sync_consistency"/>
    </appender>

    <appender name="BUSINESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${BUSINESS_LOG_FILE}</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${BUSINESS_LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>4GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="BUSINESS-async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="BUSINESS"/>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="CONSOLE-async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <logger name="pvLogger" level="INFO" additivity="false">
        <appender-ref ref="PV-async"/>
    </logger>

    <logger name="syncLogger" level="INFO" additivity="false">
        <appender-ref ref="sync-async"/>
    </logger>

    <logger name="syncConsistencyLogger" level="INFO" additivity="false">
        <appender-ref ref="sync_consistency-async"/>
    </logger>

    <logger name="businessLogger" level="INFO" additivity="false">
        <appender-ref ref="BUSINESS-async"/>
    </logger>

    <logger name="io.opentelemetry.exporter.internal.grpc.OkHttpGrpcExporter" level="OFF">
        <appender-ref ref="APPLICATION-async" />
    </logger>


    <springProfile name="pre,test">
        <!-- 开发/测试环境：同时输出到控制台和文件 -->
        <!-- 降低 gRPC 客户端日志级别，避免测试环境中打印大量连接超时错误 -->
        <logger name="org.flexlb.engine.grpc.EngineGrpcClient" level="OFF"/>
        <root level="INFO">
            <appender-ref ref="APPLICATION-async" />
            <appender-ref ref="CONSOLE-async" />
        </root>
    </springProfile>

    <springProfile name="!pre,!test">
        <!-- 生产环境：只输出到文件 -->
        <root level="INFO">
            <appender-ref ref="APPLICATION-async" />
        </root>
    </springProfile>
</configuration>