<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE-async" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
    </appender>

    <logger name="flexlbLogger" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE-async"/>
    </logger>

    <logger name="syncLogger" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE-async"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="CONSOLE-async"/>
    </root>
</configuration>
