name: Merge Request Trigger

on:
  pull_request:
    types:
      - closed

jobs:
  trigger-on-merge:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .github/scripts

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Make scripts executable
        run: chmod +x trigger-merge.sh get-merge-result.sh

      - name: Trigger Aone Merge Task
        id: trigger
        run: |
          echo "Triggering Aone merge for commit ${{ github.event.pull_request.head.sha }}"
          echo "$GITHUB_REF"
          PR_ID="${{ github.event.pull_request.number }}"
          echo "PR ID is $PR_ID"
          if [ "${{ github.event.pull_request.merged }}" = "true" ]; then
            ./trigger-merge.sh "${{ github.event.pull_request.head.sha }}" "${{ secrets.CI_SECRET }}" "${{ github.actor_id }}${{ github.actor }}@users.github.com" "${{ github.actor }}" "auto-merge: github commit ${{ github.event.pull_request.head.sha }}" "$PR_ID"
          else
            echo "Pull request was closed without merge."
            exit 0
          fi
        env:
          AONE_PROJECT_ID: "3512232" 
          GITHUB_REPOSITORY: ${{ github.repository }}

      - name: Get Merge Result
        run: |
          echo "Polling for merge result of commit ${{ github.event.pull_request.head.sha }}"
          if [ "${{ github.event.pull_request.merged }}" = "true" ]; then
            ./get-merge-result.sh "${{ github.event.pull_request.head.sha }}" "${{ secrets.CI_SECRET }}"
          else
            echo "Pull request was closed without merge."
            exit 0
          fi